body {
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  body {
    width:fit-content;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
